.clients_section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1920px;
  height: fit-content;
}

.clients_txt {
  width: 30%;
}

.txt1 {
  color: var(--p-yellow);
  font-size: 12px;
}

.txt2 {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

.txt3 {
  margin-top: 50px;
  color: var(--p-yellow);
  font-size: 12px;
  cursor: pointer;
}

.txt3 img {
  height: 10px;
}

.txt4 {
  margin-top: 20px;
  font-size: 12px;
  cursor: pointer;
}

.txt4:hover {
  color: var(--p-yellow);
}

.clients_img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
}

.clients_pic img {
  height: 220px;
  border-radius: 10px;
}

@media (min-width: 350px) and (max-width: 580px) {
  .clients_section {
    flex-direction: column;
  }
  .clients_img {
    grid-template-columns: 1fr 1fr;
  }
  .clients_pic img {
    height: 180px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .clients_img {
    grid-template-columns: 1fr 1fr;
  }
}
