.footer {
  bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
  background-color: var(--p-blue1);
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: fit-content;
}

.footer_logo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_logo_img{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.footer_logo_img img {
  height: 35px;
}

.footer_logo_text, .name_edit {
  font-size: 25px;
  font-weight: 700;
}

.name_edit{
  color: var(--p-yellow);
}

.dmessage,
.dphone{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dphone img,
.dmessage img{
  height: 25px;
}

.d_text{
  font-size: 12px;
}

.footer_content {
  gap: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.footer_content_head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.footer_content_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ft_nav_content {
  display: flex;
  cursor: pointer;
  width: 100px;
  font-size: 14px;
}

.ft_nav_content:hover {
  color: var(--p-yellow);
}

.footer_content_ft {
  font-size: 12px;
  color: rgb(171, 170, 170);
}

.footer_btn {
  width: fit-content;
  justify-content: flex-end;
  align-items: flex-end;
}

.ft_chat_btn {
  cursor: pointer;
  background-color: transparent;
  border-radius: 2px;
  border-color: var(--p-yellow);
  color: var(--p-yellow);
  height: 40px;
  width: 150px;
  font-size: 14px;
  right: 0;
}

.ft_chat_btn:hover {
  background-color: var(--p-yellow);
  color: var(--p-blue3);
}

@media (max-width: 1060px) {
  .footer_content_nav {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  .footer{
    flex-direction: column;
    gap: 10px;
  }
}