body {
  padding-left: 120px;
  padding-right: 120px;
  background-color: var(--p-blue2);
  color: var(--p-white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: fit-content;
}

.large_display {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media (min-width: 350px) and (max-width: 580px) {
  body {
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  body {
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 800px) and (max-width: 1027px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
  }
}
