.navigation {
  top: 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  max-width: 1920px;
  gap: 20px;
  position: fixed;
  z-index: 100;
  background-color: var(--p-blue2);
}

/*left side */
.logo {
  width: 80px;
  display: flex;
  flex-direction: row;
}

.logo_img {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_img img {
  height: 25px;
}

.logo_text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding-left: 9px;
}

/* Right Side*/

.nav_link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  list-style-type: none;
  gap: 10px
}
a{
  text-decoration: none;
  color: var(--p-white);
}

.nav_content {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 12px;
  font-weight: 700;
  transition: 1s ease;
  border-radius: 20px;
  padding: 10px;
}

.nav_content:hover {
  background-color: var(--p-yellow);
  color: black;
}

.dropbtn{
  display: none;
}

.dropbtn img{
  height: 20px;
  cursor: pointer;
}

.chat_board {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_btn {
  width: fit-content;
  background-color: transparent;
  border-left: 2px solid var(--p-yellow);
  border-right: 2px solid var(--p-yellow);
  border-top: none;
  border-bottom: none;
  border-radius: 20px;
  color: var(--p-yellow);
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.chat_btn:hover {
  background-color: var(--p-yellow);
  color: var(--p-blue3);
}


@media (max-width: 1060px) {
  .chat_board{
    display: none;
  }
  .dropbtn{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    align-items: center;
  }
  .nav_link{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 50px;
    right: 0;
    width: 35%;
    height: 400px;
    transition: 0.5s;
    opacity: 0;
    overflow: hidden;
    border-bottom-left-radius: 20px;
  }
  .nav_link.active1{
    opacity: 1;
  }
  .active1{
    background-color: var(--p-trans);
  }
}
