.profile {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  max-width: 1920px;
}

.profile_txt {
  flex: 1;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.greetings {
  color: var(--p-yellow);
  font-size: 33px;
}

.name {
  margin-top: -10px;
  margin-bottom: -10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 85px;
  font-weight: 900;
}

.position {
  font-size: 30px;
}

.profile_img {
  flex: 1;
  height: 100%;
}

.profile_img img {
  height: 500px;
  border: none;
}

@media (max-width: 500px) {
  .profile_img {
    display: none;
  }
}
