.test_container {
  right: 0;
  left: 0;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 50px;
  height: fit-content;
  padding-bottom: 40px;
  background-color: var(--p-blue3);
  width: 100%;
}
.testimony_head {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.t_txt1 {
  font-size: 22px;
  font-weight: 700;
  color: var(--p-yellow);
}

.t_txt2 {
  font-size: 35px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.testimony {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.test_content {
  display: flex;
  flex-direction: column;
  background-color: var(--p-blue1);
  height: fit-content;
  flex: 1;
  max-width: 500px;
  padding: 25px;
  border: 1px solid var(--p-yellow);
  border-radius: 4px;
  margin-right: 15px;
}

.test_content_head {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.test_pic {
  width: 50px;
  align-items: center;
  justify-content: center;
}
.test_pic img {
  height: 50px;
  border-radius: 60px;
}

.test_head_txt {
  flex: 1;
  margin-top: 8px;
  margin-left: 15px;
}

.test_name {
  margin-top: -1px;
  font-size: 25px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: -10px;
}

.test_position {
  font-size: 10px;
  color: var(--p-yellow);
}

.comment_icon {
  width: 30px;
  align-items: center;
  justify-content: center;
}

.comment_icon img {
  height: 35px;
}

.test_body_txt {
  flex: 1;
  font-size: 15px;
  font-style: italic;
}

@media  (max-width: 700px) {
  .testimony {
    flex-direction: column;
    gap: 20px;
  }
}
